@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #0a0f1a;

        --card: #ffffff;
        --card-foreground: #0a0f1a;

        --popover: #ffffff;
        --popover-foreground: #0a0f1a;

        --primary: #1d2b53;
        --primary-foreground: #e6f7ff;

        --secondary: #eaf3ff;
        --secondary-foreground: #1d2b53;

        --muted: #eaf3ff;
        --muted-foreground: #697a96;

        --accent: #eaf3ff;
        --accent-foreground: #1d2b53;

        --destructive: #f97066;
        --destructive-foreground: #e6f7ff;

        --border: #d8e1ed;
        --input: #d8e1ed;
        --ring: #0a0f1a;

        --radius: 0.5rem;
    }

    .dark {
        --background: #0a0f1a;
        --foreground: #e6f7ff;

        --card: #0a0f1a;
        --card-foreground: #e6f7ff;

        --popover: #0a0f1a;
        --popover-foreground: #e6f7ff;

        --primary: #e6f7ff;
        --primary-foreground: #1d2b53;

        --secondary: #1f2c38;
        --secondary-foreground: #e6f7ff;

        --muted: #1f2c38;
        --muted-foreground: #99aabb;

        --accent: #1f2c38;
        --accent-foreground: #e6f7ff;

        --destructive: #66171d;
        --destructive-foreground: #e6f7ff;

        --border: #1f2c38;
        --input: #1f2c38;
        --ring: #a3b5c6;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}